absl-py==0.13.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
arviz==0.11.0
astor==0.7.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
biwrap==0.1.6
blessings==1.7
cachetools==4.2.2
cairocffi==1.0.2
certifi==2019.3.9
cffi==1.12.3
cftime==1.3.1
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.1
cloudpickle==1.6.0
colorama==0.4.4
colorful==0.5.4
contextvars==2.4
cycler==0.10.0
d3rlpy==0.90
dataclasses==0.8
decorator==4.4.0
dill==0.3.3
dm-tree==0.1.6
fastprogress==1.0.0
filelock==3.0.12
flatbuffers==1.12
future==0.17.1
gast==0.3.3
google==3.0.0
google-api-core==1.31.0
google-auth==1.33.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
GPUtil==1.4.0
grpcio==1.32.0
gurobipy==9.1.1
gym==0.18.3
h5py==2.10.0
hiredis==2.0.0
hyperopt==0.1.2
idna==3.2
idna-ssl==1.1.0
immutables==0.14
importlib-metadata==4.6.1
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.18.0
joblib==0.13.2
jsonschema==3.2.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
lz4==3.1.3
Markdown==3.0.1
matplotlib==3.1.0
mkl-fft==1.0.10
mkl-random==1.0.2
mock==4.0.3
msgpack==1.0.2
multidict==5.1.0
netCDF4==1.5.5.1
networkx==2.3
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
opencensus==0.7.13
opencensus-context==0.1.2
opencv-python==4.5.3.56
opt-einsum==3.3.0
or-gym==0.2.0
packaging==20.9
pandas==0.25.3
parso==0.8.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prometheus-client==0.11.0
prompt-toolkit==3.0.14
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==2.8.4
pycparser==2.19
pydantic==1.8.2
pyglet==1.5.15
Pygments==2.7.4
pykeops==1.2
pymc3==3.10.0
pymongo==3.8.0
pyparsing==2.4.0
pyrsistent==0.18.0
python-dateutil==2.8.0
pytorch-ignite==0.3.0
pytz==2019.3
PyYAML==5.1.2
ray==1.4.1
redis==3.5.3
requests==2.26.0
requests-oauthlib==1.3.0
roboschool==1.0.48
rsa==4.7.2
scikit-learn==0.23.1
scipy==1.3.0
six==1.15.0
soupsieve==2.2.1
structlog==21.1.0
tabulate==0.8.9
tensorboard==1.14.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==1.9+08e4703
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-plot==0.3.0
termcolor==1.1.0
Theano-PyMC==1.0.11
threadpoolctl==2.1.0
torch==1.7.1
tqdm==4.32.1
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.26.6
wcwidth==0.2.5
Werkzeug==0.14.1
wrapt==1.12.1
xarray==0.16.2
yarl==1.6.3
zipp==3.5.0
